body
{
    background-color: #999999;
    overflow: hidden;
}

main::after
{
    content: "🎶";
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: aqua;*/
    min-height: 100vh;
    width: 80vw;
    background: linear-gradient(-233deg, #000000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .personagem
{
    display: none;
    height: 100vh;
}

main .personagem.selecionado
{
    display: block;
}

main .personagem .imagem
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo
{
    /*background-color: #ff9900;*/
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-personagem
{
    /*background-color: #00ff00;*/
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular one";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao
{
    /*background-color: #00ff00;*/
    color: #ffffff;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.conteudo .logo
{
    /*background-color: #ff00ff;*/
    background-image: url("../imagens/one-piece-logo.png");
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: 35px;
}

.botoes
{
    position: fixed;
    top: 0;
    right: 0;
    /*background: #ffff00;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 110px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao
{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img
{
    border-radius: 50%;
}

.botoes .botao.selecionado
{
    transform: scale(1.2);
    box-shadow: 0 0 10px #d9d9d9;
}