#flex-container {
    display: flex;
    font-family: Consolas, Arial, sans-serif;
  }
  
  #flex-container > div {
    padding: 1rem;
  }
  
  #flex-auto {
    flex: auto;
    border: 1px solid #f00;
  }
  
  #flex-initial {
    border: 1px solid #000;
  }